<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>gestion</servlet-name>
        <servlet-class>gestion</servlet-class>
        <init-param>
            <param-name>urlgestionNote</param-name>
            <param-value>/ajouterNote.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>urlErreur</param-name>
            <param-value>/erreur.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>afficherEleve</servlet-name>
        <servlet-class>afficherEleve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimer</servlet-name>
        <servlet-class>supprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>afficherNote</servlet-name>
        <servlet-class>afficherNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertNote</servlet-name>
        <servlet-class>insertNote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>afficherEleve</servlet-name>
        <url-pattern>/afficherEleve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimer</servlet-name>
        <url-pattern>/supprimer</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>afficherNote</servlet-name>
        <url-pattern>/afficherNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertNote</servlet-name>
        <url-pattern>/insertNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gestion</servlet-name>
        <url-pattern>/gestion</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>gestion</welcome-file>
    </welcome-file-list>
</web-app>